$sidebar-bg-color: #fffff !default;
$sidebar-color: #5C5E61 !default;
$sidebar-width: 300px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #EA001E !default;
$submenu-bg-color: #fffff !default;
$submenu-bg-color-collapsed: #fffff !default;
$icon-bg-color: #fffff !default;
$icon-size: 35px !default;
$submenu-indent: 65px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;
