@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./settings/_fonts";

@layer utilities {
  @import "./component/_mask";
  @import "./component/_gradient";
  @import "./component/_utils";
  @import "./component/_typhography";
  @import "./component/_shadows";
  @import "./component/_background";
}

.main-layout {
  height: calc(100% - 72px);
}

