$font: 'Ubuntu',
sans-serif;
$pixelSize: 16;
$DarkPurple:#8B68CD;
$LightPurple: #9A74E1;
$LightNavy:#383D89;
$DarkNavy: #2D3175;
$DarkBlue: #615FCC;
$LightBlue:  #716EE7;
$smoke: #F4F1FA;
$DarkBlue : #313466;
